<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgskrill::lang.info.header') ?></h3>
    </div>
    <div class="content">
        <ol>
            <li>Enter e-mail of your Skrill account in the e-mail field</li>
            <li>Enter your company name in the Company field - it will appear on the Check-out page</li>
            <li>Optionally, provide full path to your company logo - it will replace Skrill logo on Check-out page</li>
        </ol>
    </div>
</div>